body {
  color: #1c4e69;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #1c4e69;
}
a:hover {
  opacity: 0.7;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.clear:after {
  content: "";
  clear: both;
  display: block;
}

h1{font-size: 24px;

}
h2{
  font-size: 20px;
  font-weight: bold;
}
h3{

}
p{
  font-size: 12px;
}
hr{
  background-color: #ccc;
  height:1px;
  border:none;

}
/*==============================================
section共通クラス 
===============================================*/
.section {
  padding: 60px 0;
}
.section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
/*==============================================
header 
===============================================*/
header{
  padding: 20px 0;
  height:80px;
}
.header-left{
 float:left;
}
.header-title{
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.header-subtitle{
  color:#0095A1;
  font-size: 12px;
  letter-spacing: 0.1em;
}
.header-right{
  float:right;
}
.header-nav-item{
  float: left;
  margin-left: 20px;
}
.header-nav-item a{
font-size: 15px;
letter-spacing: 0.1em;
line-height: 54px;
}

/*==============================================
hamburger menu
===============================================*/
.hamburger-menu{
  display: none;
}
/*==============================================
top
===============================================*/
.top{
background-image: url(../img/top.jpg);
background-size: cover;
background-position:center center;
padding: 120px 0;
}
.top-title{
  font-size: 36px;
  color: #fff;
  opacity:0.8;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  line-height:2em;

}
.top-icon-wrapper{
  display:flex;
  justify-content: space-between;
  text-align: center;
}
.top-icon{
  width:25%;
}
.top-icon h2{
  margin-bottom: 20px;
}
.top-icon img{
  object-fit:cover;
  width:150px;
  height:150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/*==============================================
program
===============================================*/
.program{
  background-color: #E8F4FF;
}
.program-box{
  position:relative;
}
.program-img{
  position:absolute;
  right:0px;
  top:40px;
  object-fit:cover;
  border-radius:0px;
  width:40%;
  height:360px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
}

.detail{
  background: #fff;
  padding: 30px;
  border-radius: 2px;
  width:90%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .3);
}
.detail h2{
  margin-bottom: 10px;
  width: 60%;
}
.detail h3{
  margin-bottom: 10px;
  width: 60%;
}
.detail p{
  width: 60%;
}

.review{
  margin-top: 20px;
  margin-bottom: 20px;
}
.review h2,.review p{
  display:inline-block;
  margin-left: 20px;
  margin-bottom: 20px;

}

.review p{
  padding:14px 28px;
  background: #fff;
  border-radius:30px;
  font-size: 14px;
  font-weight: normal;
  max-width:40%;
}

.review-icon{
  object-fit:cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float:left;
  margin-bottom: 40px;
  
}
/*==============================================
areaguide
===============================================*/
.map{
  /* width: 100%;
  height: 500px;
  background-color: #eee; */
}
.map-iphone{
  display: none;
}
.map-wrapper{
  display: none;
}


/*==============================================
food
===============================================*/
.food{
  background-color: #E8F4FF;

}
.food-wrapper{
  display:flex;
  justify-content: space-between;
  text-align: center;
  

}
.food-item{
  width: 30%;
}

.food-item h2{
  margin-bottom: 20px;
}
.food-item img{
  object-fit:cover;
  width:250px;
  max-width:100%;
  height:250px;
  border-radius: 50%;
  margin-bottom: 10px;
}
    /*============================================== 
   time fee
   ===============================================*/   
   .time-fee{
  /* background-color: #E8F4FF; */
   }
   table{
     margin: 0 auto;
     width:60%;
     table-layout: fixed;
     font-size: 20px;
     margin-bottom: 40px;
     border-spacing: 3px;

   }
   .time-table{
     width:60%;
   }
   .fee-table{
     width:80%;
   }

   .groupA{
     width:40%;
  
   }
   th,td{
  border: 1px solid  #1c4e69 ;
    text-align: center;
    vertical-align: middle;
    background: #fff;



  }
  th{
    height:50px;
    padding: 15px;
  }
  td{
    height:100px;
  }
  .cell_day{
    font-weight: bold;
    background: #E8F4FF;
    /* border:none; */

  }
  .cell_night{
    font-weight: bold;
    color: #1c4e69;
    background: #E8F4FF;
    /* border:none; */
  }
  .cell_adult{
    font-weight: bold;
    background:#fff ;
    color: #1c4e69;
  }
  .cell_child{
    font-weight: bold;
    background:#fff ;
    color: #1c4e69;

  }
  .ticket-explain{
    display: block;
    margin: 0 auto;
    width: 80%;
    font-weight: bold;
    text-align: center;
  }
  .sale{
    color:red;
  }

.button{
  text-align: center;
  padding: 40px;
}
button{
  
  background-image: url(../img/dolphin-show.jpg);
  background-position: center center;
  background-size:cover;

  

  border-radius: 100px;
  width: 300px;
  height: 100px;
  opacity:80%;
  color: #fff;

  font-size: 30px;
  font-weight: bold;
} 


/*=============================================
 access
  =============================================*/
 .access{
  background-color: #E8F4FF;
}
.means{
  /* width:80%;
  margin: 0 auto; */
  text-align: center;

}
.means h2{
  margin-bottom: 20px;
}
.means h3{
  padding:10px 30px;
  font-size: 20px;
  background: #fff;
  /* margin-bottom: 40px; */
}
.means p{
  margin-bottom: 40px;
  background: #fff;


}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 20px;
  }
  .gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  }
  .address-title{
    display: inline-block;
    width: 300px;
    height: 80px;
    text-align: center;
    padding: 15px;

    
    /* margin: 0 auto; */
    background: #fff;
  }
  .address-wrapper{
    display: flex;
    justify-content: space-around;
  }
  .address{display: inline-block;}
  .address h2{
    margin-bottom: 20px;
  }
  .address h3{
    font-size: 16px;
  }


/* footer */

footer{
  background-color: #1C4E69;
  text-align: center;
  color: #fff;
  padding: 40px 0 10px 0;
}
.footer-wrapper{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.footer p{
  font-size: 10px;
  font-weight: lighter;
  opacity:0.7;
}

/*======================================
========================================
 スマホ用レスポンシブ 
 =======================================
 =====================================*/
@media only screen and (max-width:767px){
  .clear::after{
    content:none;
  }
  /*==================================
   header
   ================================== */
.header-left{
  float:none;
}
.header-title{
  text-align: center;
}
.header-subtitle{
  text-align: center;
}

/* hamburger menu */


  /*==================================
   top
   ================================== */
   .top-title{
     font-size: 32px;
   }
  /*==============================================
   section共通クラス 
   ===============================================*/
   .section {
    padding: 40px 0;
  }
  .section-title {
    font-size: 24px;
    font-weight: bold;
  }
  .section p {
    font-size: 12px;
  }
    /*============================================== 
   icon
   ===============================================*/

.top-icon{
  width:30%;
}
.top-icon h2{
  font-size:14px;
  margin-bottom: 20px;
}
.top-icon img{
  object-fit:cover;
  width: 100px;
  height:100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.top-icon p{
  display:none;
}
.top-icon h2{
  font-size: 12px;
  font-weight: normal;
}
    /*============================================== 
   program
   ===============================================*/

  .program-img{
    position:initial;
    width:100%;
    height:240px;
    border-radius: 0;
  }
  
  .detail{
    /* background: #fff; */
    /* padding: 30px; */
    border-radius: 0;
    width:100%;

    /* margin-bottom: 10px; */
  }
  .detail h2{
    /* margin-bottom: 10px; */
    width: 100%;
    text-align: center;
  }
  .detail h3{
    /* margin-bottom: 10px; */
    width: 100%;
  }
  .detail p{
    width: 100%;
  }
  
  .review{
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .review h2{
    font-size: 14px;
    margin-bottom: 0;
  }
  

  .review p{
    padding:10px 20px;
    /* background: #fff; */
    border-radius:20px;
    font-size: 12px;
    font-weight: normal;
    max-width:80%;
    margin-left: 5px;
    margin-bottom: 0;
  }
  
  .review-icon{
    /* object-fit:cover; */
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    /* float:left; */
    margin-bottom: 0;
  }
    /*============================================== 
   areaguide
   ===============================================*/
   .map{
     display:none;
  }
  .map-iphone{
    display:initial;
    /* width: 100%;
    height: 500px;
    background-color: #eee; */
   
  }
  .map-wrapper{
    display:initial;
  }
  .map-item{
    width: 60%;
    margin: 0 auto 10px;



  }
  
  .map-item img{
    object-fit:cover;
    /* margin-bottom: 10px; */
    width:40px;
    max-width:100%;
    height:40px;
    border-radius: 50%;
    /* margin-bottom: 10px; */
    float: left;
  }
  .map-item h2{
    font-size: 16px;
    font-weight: normal;
    margin-left: 50px;
    padding: 10px;
  }
  
    /*============================================== 
   food
   ===============================================*/
   .food-wrapper{
    display:block;
    /* justify-content: space-between; */
    /* text-align: center; */
  
  }
  .food-item{
    width: 100%;
    margin-bottom: 40px;
  }
  
  .food-item h2{
    margin-bottom: 10px;
  }
  .food-item img{
    /* object-fit:cover;
    width:250px;
    max-width:100%;
    height:250px;
    border-radius: 50%; */
    margin-bottom: 0;
  }
    /*============================================== 
   time-fee
   ===============================================*/   
   table{
    font-size: 14px;

  }
   .time-table{
     width:100%;

   }
   .fee-table{
     width:100%;
   }
  .button{
    text-align: center;
    padding: 20px;
  }
  button{
    
    background-image: url(../img/dolphin-show.jpg);
    background-position: center center;
    background-size:cover;
  
    
  
    border-radius: 100px;
    width: 200px;
    height: 75px;
    opacity:80%;
    color: #fff;
  
    font-size: 20px;
    font-weight: bold;
  } 
  


  .time-fee{

     }

  
     .groupA{
       
     }
     th,td{
  
  
  
    }
    th{
      padding:5px;
      height:30px;
    }
    td{height:50px;
      padding:10px;
    }
  
   /*============================================== 
   access
   ===============================================*/
   .address-wrapper{
    display:initial;
    /* justify-content: space-around; */
  }
  .address-title{
    width: 100%;
  }
.logo-title{
  font-weight: bold;
}
  .address h2{
    margin-bottom: 20px;
  }
  .address h3{
    font-size: 12px;
  }

   /*============================================== 
   footer
   ===============================================*/

      /*============================================== 
   hamburger menu
   ===============================================*/
   .header-right{
     display: none;
   }
   .hamburger-menu{
     display:initial;
   }
   .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #1c4e69;
    opacity:0.7;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }
  
  
  
  #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
  }
  
  
  #menu-btn-check {
    display: none;
  }
  
  
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #1c4e69;
    opacity:0.7;
  }
  .menu-content ul {
    padding: 70px 30px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
    color:#ffffff;
    text-decoration: none;
    padding: 20px 15px 10px 0;
    position: relative;
    margin-left: 10px;
  }
  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }
  
  
  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #1c4e69;;
    transition: all 0.3s;/*アニメーション設定*/
  }
  
  
  
  #menu-btn-check:checked ~ .menu-content {
      left: 0%;/*メニューを画面内へ*/
  }


}